.nav-catagory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-catagory-container small {
    font-family: Averta, sans-serif;
    font-weight: 400;

}

.brand-container img {
    border-radius: 100%;
    box-shadow: 1px 1px 4px 1px rgb(198, 198, 198);
}


.category-card img {
    height: 310px;
    width: 290px;
    border-radius: 4px;
}

.category-card {
    position: relative;
    margin: 0.7rem 1rem;
}

.category-card p {
    font-family: Averta, sans-serif;
    font-weight: 400;
}

.category-card h5 {
    font-family: Averta, sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.category-card-overlay {
    position: absolute;
    top: 17px;
    left: 15px;
}

.category-card-container1 {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.category-card-container1::-webkit-scrollbar {
    width: 0;
}

.category-card-container2 {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.category-card-container2::-webkit-scrollbar {
    width: 0;
}

/* nav bar css  */
.search-container {
    background-color: white;
    width: 24em;
    height: 2.4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
}

.search-container input {
    border: none;
    outline: none;
    width: 17em;
    background-color: transparent;
}

.navbar-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: linear-gradient(45deg, #D29468, #E2B99D);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    margin-bottom: 17px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 10px;
    overflow: hidden;
}

.navbar-container p {
    font-family: Averta, sans-serif;
    font-weight: 600;
}

.left-side-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right-side-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-side-nav>* {
    margin: 23px;
}

.title-component p {
    margin: 1em 4vw;
    font-family: Averta, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.item-card-parent-container{
height: 14em;
width: 12em;
display: flex;
flex-direction: column;
justify-content: center;
margin: 10px 15px 2rem 15px;
}

.item-card-image img {
    width: 10em;
    height: 10em;
    border-top-left-radius: 1px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 1px;
    box-shadow: 1px 1px 1px 2px rgb(235, 235, 235);

}

.item-description p{
    font-family: Averta, sans-serif;
    font-size: 14.5px;
    font-weight: 500;
    overflow-x: hidden;
}
.item-description{
    margin: 4px 10px;
}

.item-description h6{
    font-family: Averta, sans-serif;
    font-size: 15px;
    font-weight: 700;
}