.nav-catagory-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brand-container img{
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left:4px;
}

.brand-container {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: 1px 1px 4px 1px rgb(198, 198, 198);
}

.category-card img{
height: 310px;
width: 290px;
border-radius: 4px;
}

.category-card{
position: relative;

}

.category-card-overlay{
position: absolute;
top: 15px;
left: 10px;
}

.category-card-container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    
}