body{
    font-family: Averta, sans-serif;
}

.categories-container {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin: 0 2em 1em 2em;
    overflow-x: auto;
}

.categories-container::-webkit-scrollbar {
    width: 0;
}

.category-card-container {
    margin: 3em 0;
}

.brand-parent-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    gap: 3em;
}


.category-items {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    margin: 1em;
    margin-bottom: 1em;
}

.category-items::-webkit-scrollbar {
    width: 0;
}

.details-page-container {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.details-left-side img {
    min-width: 40vw;
    min-height: 40vh;
    max-width: 80vw;
    max-height: 60vh;
    border-radius: 5px;
}

.details-right-side h3 {
    font-family: Averta, sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.item-details h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1em;
}

.item-details {
    margin: 1em 5em 1em 0;
    padding: 1em;  
}

.item-details .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

.item-details .detail span:nth-child(odd){
color: rgb(118, 118, 118);
}


@media only screen and (max-width:1030px){
    .details-page-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .details-left-side{
        margin-bottom: 2em;
    }
}
