
.categories-container{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin: 0 2em 1em 2em;
    overflow-x: auto;
}
.categories-container::-webkit-scrollbar{
    width: 0;
}

.category-card-container{
    margin: 3em 0;
}

.brand-parent-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    gap: 3em;
}


.category-items{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    margin: 1em;
    margin-bottom: 1em;
}
.category-items::-webkit-scrollbar{
    width: 0;
}